<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title> CoolPlanner | Din profil</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
<h1> Dashboard til overblik over projekter </h1>

<ul>
    <li><a th:href="@{/dashboard/projects}">Se projekter</a></li>
    <li><a th:href="@{/dashboard/subprojects}">Se delprojekter</a></li>
    <li><a th:href="@{/dashboard/userstories}">Se user stories</a></li>
    <li><a th:href="@{/dashboard/tasks}">Se tasks</a></li>
</ul>

<div th:replace="~{fragments/commenFragments :: footer}"></div>
</body>
</html>