<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Opret task</title>
</head>
<body>
<div th:replace="~{fragments/commonfragments :: navbar}"></div>

<h1>Opret delopgave</h1>

<form th:action="@{/saveSubTask/{id}(id=${taskId})}"
      th:object="${subTask}"
      method="post">

    <label>Del-projektets navn:</label>
    <input type="text" placeholder="Navn" th:field="*{subTaskName}" required>

    <label>Del-projekts beskrivelse:</label>
    <input type="text" placeholder="Beskrivelse" th:field="*{subTaskDetails}" required>

    <label>Start dato for del-projekt:</label>
    <input type="date" th:field="*{subTaskStartDate}" required>

    <label>Deadline for del-projekt:</label>
    <input type="date" th:field="*{subTaskDeadLine}" required>

    <label>Tidsestimat:</label>
    <input type="number" placeholder="Timer" th:field="*{subTaskTimeEstimate}" required>

    <!-- dropdown til ansvarlig medarbejder -->
    <label for="employee">Ansvarlig:</label>
    <select id="employee" th:field="*{employeeId}" required>
        <option value="0" disabled selected>Vælg medarbejder</option>
        <option th:each="emp : ${employees}"
                th:value="${emp.employeeId}"
                th:text="${emp.employeeId + ' - ' + emp.firstName + ' ' + emp.lastName}">
        </option>

    </select>

    <button type="submit">Opret subtask</button>
</form>

<div th:replace="~{fragments/commonfragments :: footer}"></div>
</body>
</html>