<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="da">
<head>
  <meta charset="UTF-8">
  <title>Opret ny medarbejder</title>
  <link rel="stylesheet" th:href="@{/style.css}">
</head>
<body>

<div class="formPage">
  <h1>Opret ny medarbejder</h1>
  <p class="subtitle">Udfyld informationerne for at oprette en ny employee</p>

  <form th:action="@{/employee/saveEmployee}" th:object="${employee}" method="post">
    
    <input type="hidden" th:field="*{employeeId}"/>

    <label for="firstName">Fornavn:</label>
    <input id="firstName" type="text" th:field="*{firstName}" required>

    <label for="lastName">Efternavn:</label>
    <input id="lastName" type="text" th:field="*{lastName}" required>

    <label for="email">E-mail:</label>
    <input id="email" type="email" th:field="*{email}" required>

    <label for="password">Adgangskode:</label>
    <input id="password" type="password" th:field="*{password}" required>

    <label for="role">Rolle:</label>
    <select id="role" th:field="*{role}" required>
      <option value="" disabled selected>Vælg rolle</option>

      <option th:value="Manager">Manager</option>
      <option th:value="Team_Member">Team member</option>
    </select>

    <button type="submit">Opret bruger</button>
  </form>
</div>

</body>
</html>