<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Opret Task</title>
    <link rel="stylesheet" th:href="@{/style.css}">
</head>
<body>

<h1>Opret Task</h1>

<form th:action="@{/saveTask}" th:object = "${task}" method="post">

    <label>Navn på Task:</label>
    <input type="text" th:field="*{taskName}" required>

    <label>Beskrivelse:</label>
    <input type="text" th:field="*{taskDetails}" required>

    <label>Start dato:</label>
    <input type="date" th:field="*{taskStartDate}" required>

    <label>Deadline:</label>
    <input type="date" th:field="*{taskDeadline}" required>

    <label>Tidsestimat:</label>
    <input type="number" th:field="*{taskTimeEstimate}" min="0" required>

    <label>Reel tid brugt:</label>
    <input type="number" th:field="*{taskActualTime}" min="0">

    <label>Status:</label>
    <input type="Text" th:field="*{taskStatus}" required>

    <label>Subproject ID:</label>
    <input type="number" th:field="*{subprojectID}" required>

    <button type="submit">Opret Task</button>
</form>
</body>
</html>
