<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Opret projekt</h1>

<form th:action="@{/saveProject}" th:object="${project}" method="post">

    <label>Projekt navn:</label>
    <input type="text" th:field="*{projectName}" required>

    <label>Projekt beskrivelse:</label>
    <input type="text" th:field="*{projectDetails}" required>

    <label>Start dato for projekt:</label>
    <input type ="date" th:field="*{projectStartDate}" required>

    <label>Deadline for projekt:</label>
    <input type="date" th:field="*{projectDeadLine}" required>

    <button type="submit">Opret project</button>
</form>

</body>
</html>