<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Opret User Story</title>
</head>
<body>

<h1>Opret User Story</h1>

<form th:action="@{/saveUserStory}" th:object = "${userStory}" method="post">

    <label>Navn på User Story:</label>
    <input type="text" th:field="*{userStoryName}" required>

    <label>Beskrivelse:</label>
    <input type="text" th:field="*{userStoryDetails}" required>

    <label>Start dato:</label>
    <input type="date" th:field="*{userStoryStartDate}" required>

    <label>Deadline:</label>
    <input type="date" th:field="*{userStoryDeadline}" required>

    <label>Tidsestimat:</label>
    <input type="number" th:field="*{userStoryTimeEstimate}" min="0" required>

    <label>Reel tid brugt:</label>
    <input type="number" th:field="*{userStoryActualTime}" min="0">

    <label>Status:</label>
    <input type="Text" th:field="*{userStoryStatus}" required>

    <label>Subproject ID:</label>
    <input type="number" th:field="*{subprojectID}" required>

    <button type="submit">Opret User Story</button>
</form>
</body>
</html>