<!DOCTYPE html>
<html lang="da" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>CoolPlanner | Dine del-projekter</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>

<h1>Dine delprojekter</h1>
<p>Her kan du se dine delprojekter og oprette nye.</p>

<ul>
    <li th:each="subProject : ${subProjects}">
        <span th:text="${subProject.subProjectName}">Delprojektnavn</span>
    </li>
</ul>

<a class="button" th:href="@{/dashboard/subprojects/createSubProject}">+ Tilføj nyt delprojekt</a>


<div th:replace="~{fragments/commonfragments :: footer}"></div>
</body>
</html>