<!DOCTYPE html>
<html lang="da" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>CoolPlanner | Your projects</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>

<h1>Projekter for <span th:text="${employee.firstName}">Bruger</span></h1>
<p>Her kan du se alle dine aktive projekter.</p>

<ul>
    <li th:each="project : ${projects}">
        <span th:text="${project.projectName}">Projektnavn</span>
    </li>
</ul>
<a class="button" th:href="@{/dashboard/projects/createProject}">+ Tilføj nyt projekt</a>


<div th:replace="~{fragments/commonfragments :: footer}"></div>
</body>
</html>