<!DOCTYPE html>
<html lang="da" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>CoolPlanner | Dine Tasks</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
<div th:replace="~{fragments/commonfragments :: navbar}"></div>

<h1>Dine tasks</h1>
<p>Her kan du se dine tasks til projektet og oprette nye.</p>

<ul>
    <li th:each="task : ${tasks}">
        <span th:text="${task.taskName}">Tasknavn</span>
        <a class="button small"
           th:href="@{/editTask/{id}(id=${task.taskID})}">
            Rediger
        </a>
    </li>
</ul>

<a class="button" th:href="@{/dashboard/subprojects/createTask}">+ Tilføj ny task</a>


<div th:replace="~{fragments/commonfragments :: footer}"></div>
</body>
</html>