<!DOCTYPE html>
<html lang="da" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>CoolPlanner | Dine Subtasks</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>

<div th:replace="~{fragments/commonfragments :: navbar}"></div>

<h1 th:text="${subTask.subTaskName}">SubTask navn</h1>

<ul th:each="subtasks : ${subTask}">
    <li>
        <div>
            <p>Beskrivelse: <span th:text="${subTask.subTaskDetails}">Beskrivelse:</span></p>

        </div>
    </li>
    <li>
        <div>
            <p>Start Dato: <span th:text="${subTask.subTaskStartDate}">Start dato</span></p>
        </div>
    </li>
    <li>
        <div>
            <p>Deadline: <span th:text="${subTask.subTaskDeadLine}">Deadline</span></p>
        </div>
    </li>
    <li>
        <div>
            <p>Estimeret tid: <span th:text="${subTask.subTaskTimeEstimate}">Tidsestimat</span></p>
        </div>
    </li>
    <li>
        <div>
            <p>Faktiske tid: <span th:text="${subTask.subTaskActualTime}">Faktisk tid</span></p>
        </div>
    </li>
    <li>
        <div>
            <p>Status: <span th:text="${subTask.status}">Status</span></p>
        </div>
    </li>
</ul>

<a class="rediger-projekt-knap" th:href="@{/subTask/{id}/edit/(id=${subTask.subTaskId})}">
    <p>Rediger delopgave</p>
</a>

<a class="rediger-projekt-knap" th:href="@{/subTask/{id}/complete/(id=${subTask.subTaskId})}">
    <p>Luk delopgave</p>
</a>

<div th:replace="~{fragments/commonfragments :: footer}"></div>

</body>
</html>