<!DOCTYPE html>
<html lang="da" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title> CoolPlanner | Din profil</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
<div th:replace="~{fragments/commonfragments :: navbar}"></div>

<h1> Velkommen, <span th:text="${employee.firstName}">Bruger</span> </h1>
<h2> På denne side har du dit Dashboard med overblik over alle aktive projekter <br>
        Tilgå delprojekter, ved at vælge et projekt. God arbejdslyst.
</h2>

<p><br>Projekter for <span th:text="${employee.firstName}">Bruger</span></p>
<p>Her kan du se alle dine aktive projekter.</p>

<ul>
    <li th:each="project : ${projects}">
        <a th:href="@{'/projects/' + ${project.projectId}}">
            <span th:text="${project.projectName}">Projektnavn</span>
        </a>
    </li>
</ul>

<a class="button" th:href="@{/dashboard/projects/createProject}">+ Tilføj nyt projekt</a>

<a th:href="@{/dashboard/projects/closedProjects}">Lukkede projekter</a>

<div th:replace="~{fragments/commonfragments :: footer}"></div>

</body>
</html>