<!DOCTYPE html>
<html lang="da" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title> CoolPlanner | Din profil</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
<div th:replace="~{fragments/commonfragments :: navbar}"></div>

<h1> Velkommen, <span th:text="${employee.firstName}">Bruger</span> </h1>
<h2> På denne side har du dit Dashboard med overblik over alle aktive projekter <br>
        Du kan også tilgå delprojekter, user stories samt tasks. God arbejdslyst.
</h2>

<ul>
    <li><a th:href="@{/dashboard/projects}">Se projekter</a></li>
    <li><a th:href="@{/dashboard/subprojects}">Se delprojekter</a></li>
    <li><a th:href="@{/dashboard/tasks}">Se tasks</a></li>
    <li><a th:href="@{/dashboard/subTasks}">Se sub tasks</a></li>
</ul>

<a th:href="@{/dashboard/projects/closedProjects}">Lukkede projekter</a>

<div th:replace="~{fragments/commonfragments :: footer}"></div>

</body>
</html>