<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Rediger Task</title>
    <link rel="stylesheet" th:href="@{/style.css}">
</head>
<body>
<div th:replace="~{fragments/commonfragments :: navbar}"></div>


<div class="formPage">
    <h1>Rediger Task</h1>
    <p class="subtitle">Opdater oplysninger for Sub Task</p>

    <form th:action="@{/updateSubTask}" th:object="${subTask}" method="post">

        <input type="hidden" th:field="*{subTaskId}" />

        <label for="taskName" >Navn på Task:</label>
        <input id="taskName" type="text" th:field="*{subTaskName}" required/>

        <label for="taskDetails">Beskrivelse:</label>
        <textarea id="taskDetails" th:field="*{subTaskDetails}"></textarea>

        <label for="taskStartDate">Startdato:</label>
        <input id="taskStartDate" type="date" th:field="*{subTaskStartDate}"/>

        <label for="taskDeadline">Deadline:</label>
        <input id="taskDeadline" type="date" th:field="*{subTaskDeadLine}"/>

        <label for="taskTimeEstimate">Tidsestimat:</label>
        <input id="taskTimeEstimate" type="number" th:field="*{subTaskTimeEstimate}"/>

        <label for="TaskActualTime">Reel tid brugt:</label>
        <input id="taskActualTime" type="number" th:field="*{subTaskActualTime}"/>

        <label for="taskStatus">Status:</label>
        <select id="taskStatus" th:field="*{subTaskStatus}">
            <option th:value="ikke_startet">Ikke startet</option>
            <option th:value="I_gang">I gang</option>
            <option th:value="Afsluttet">Afsluttet</option>
        </select>

        <div class="buttonGroup">
            <button type="submit">Gem ændringer</button>
            <a th:href="@{/dashboard}" class="btn-secondary">Annuller</a>
        </div>
    </form>
</div>

<div th:replace="~{fragments/commonfragments :: footer}"></div>
</body>
</html>