<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Rediger Task</title>
    <link rel="stylesheet" th:href="@{/style.css}">
</head>
<body>

<div class="formPage">
    <h1>Rediger Task</h1>
    <p class="subtitle">Opdater oplysninger for Task</p>

    <form th:action="@{/updateTask}" th:object="${task}" method="post">

        <input type="hidden" th:feld="*{taskID}" />

        <label for="taskName" >Navn på Task:</label>
        <input id="taskName" type="text" th:field="*{taskName}" required/>

        <label for="taskDetails">Beskrivelse:</label>
        <textarea id="taskDetails" th:field="*{taskDetails}"></textarea>

        <label for="taskStartDate">Startdato:</label>
        <input id="taskStartDate"> type="date" th:field="*{taskStartDate}"/>

        <label for="taskDeadline">Deadline:</label>
        <input id="taskDeadline" type="date" th:field="{taskDeadline}"/>

        <label for="taskTimeEstimate">Tidsestimat:</label>
        <input id="taskTimeEstimate"> type="number" step="0.5" th:field="*{taskTimeEstimate}"/>

        <label for="TaskActualTime">Reel tid brugt:</label>
        <input id="taskActualTime" type="number" step="0.5" th:field="*{taskActualTime}"/>

        <label for="taskStatus">Status:</label>
        <select id="taskStatus" th:field="{taskStatus}">
            <option th:value="ikke_startet">Ikke startet</option>
            <option th:value="I_gang">I gang</option>
            <option th:value="Afsluttet">Afsluttet</option>
        </select>

        <div class="buttonGroup">
            <button type="submit">Gem ændringer</button>
            <a th:href="@{/dashboard}" class="btn-secondary">Annuller</a>
        </div>
    </form>
</div>
</body>
</html>