<!DOCTYPE html>
<html lang="da" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>CoolPlanner | Forside</title>
    <link rel="stylesheet" th:href="@{/style.css}">
</head>
<body class="frontpage">
<!-- Placeholder for navigationsbaren som er indsat på alle vores HTML-sider heraf DRY-princip. -->
<!-- ~{fragments/commonfragments :: navbar} betyder at vi henter filen commonfragments.html og indsætter
        fragmentet der hedder navbar.-->
<div th:replace="~{fragments/commonfragments :: navbar}"></div>

<main class="page">
    <section class="glass hero hero-galaxy">
        <div class="hero-content">
            <h1>Velkommen til CoolPlanner</h1>
            <p>Dit simple projektkalkuleringsværktøj.</p>

            <div class="button-row">
                <a href="/employee/login" class="btn-primary">Log ind</a>
                <a href="/employee/createEmployee" class="btn-ghost">Opret medarbejder</a>
            </div>
        </div>
    </section>
</main>

<div th:replace="~{fragments/commonfragments :: footer}"></div>

</body>
</html>